<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  </head>
  <body ng-app="app" ng-controller="ctrl">
    <h1>Marketplace Warrior</h1>
    {{5+6}}
    <form method="post">
	    <input type="text" name="term">
	    <input type="submit" value="Search">
		</form>
    <% if (typeof sold !== 'undefined') { %>
	    <p>Sold:<%= sold %>/<%= total %> = <%= sold/total*100 %>%</p>
	    <ul>
			<% for(var i=0; i<tbl.length; i++) {%>
			   <li><%= tbl[i] %></li>
			<% } %>
			</ul>
		<% }; %>
  </body>
</html>
